/* ----------- Standard breakout ----------- */
@media only screen and (max-width: 768px) {
    
    h1 {
        font-size: 1.6rem;
    }

    .bg-light {
        /* background-color: #f8f9fa!important; */
        background: #fff;
    }

    .wg p {
        padding: 30px 20px 50px 10px;
        text-align: center;
        font-size: 16px;
    }

    .applications .card {
        margin-left: 20px;
    }

    .rp{
        font-size: 12px;
    }
    .testimonials{
        padding-bottom: 20px;
    }

    .admin h4{
        font-size: 16px;
    }

    .onc{
        padding-top: 10px;
    }


  }



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .applications .card {
        margin-left: 20px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .applications .card {
        margin-left: 40px;
    }

}


